.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StreamingTicker-symbol {
  border: 1px;
}

.StreamingTicker-symbol-name {
  border: 1px;
}

.StreamingTicker-symbol-price {
  border: 1px;
}

.StreamingTicker-symbol-price-red {
  border: 1px;
  animation: downtick 5s
}

.StreamingTicker-symbol-price-red-2 {
  border: 1px;
  animation: downtick-2 5s
}

.StreamingTicker-symbol-price-green {
  border: 1px;
  animation: uptick 5s
}

.StreamingTicker-symbol-price-green-2 {
  border: 1px;
  animation: uptick-2 5s
}

@keyframes uptick {
  from {background-color: green;}
  to {background-color: white}
}

@keyframes uptick-2 {
  from {background-color: green;}
  to {background-color: white}
}

@keyframes downtick {
  from {background-color: red;}
  to {background-color: white}
}

@keyframes downtick-2 {
  from {background-color: red;}
  to {background-color: white}
}
