.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StreamingTicker-symbol {
  border: 1px;
}

.StreamingTicker-symbol-name {
  border: 1px;
}

.StreamingTicker-symbol-price {
  border: 1px;
}

.StreamingTicker-symbol-price.up-0 {
  animation: uptick-0 5s
}

.StreamingTicker-symbol-price.up-1 {
  animation: uptick-1 5s
}

.StreamingTicker-symbol-price.down-0 {
  animation: downtick-0 5s
}

.StreamingTicker-symbol-price.down-1 {
  animation: downtick-1 5s
}

@keyframes uptick-0 {
  from {
    background-color: green;
  }
  to {
    background-color: white
  }
}

@keyframes uptick-1 {
  from {
    background-color: green;
  }
  to {
    background-color: white
  }
}

@keyframes downtick-0 {
  from {
    background-color: red;
  }
  to {
    background-color: white
  }
}

@keyframes downtick-1 {
  from {
    background-color: red;
  }
  to {
    background-color: white
  }
}
