.App {
  text-align: center;
}

.StreamingTickers-ticker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px;
}

.StreamingTicker-symbol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px;
}

.StreamingTicker-symbol-name {
  border: 1px;
}

.StreamingTicker-symbol-price {
  border: 1px;
}

.StreamingTicker-symbol-price.up-0 {
  animation: uptick-0 5s
}

.StreamingTicker-symbol-price.up-1 {
  animation: uptick-1 5s
}

.StreamingTicker-symbol-price.down-0 {
  animation: downtick-0 5s
}

.StreamingTicker-symbol-price.down-1 {
  animation: downtick-1 5s
}

@keyframes uptick-0 {
  from {
    background-color: green;
  }
  to {
    background-color: white
  }
}

@keyframes uptick-1 {
  from {
    background-color: green;
  }
  to {
    background-color: white
  }
}

@keyframes downtick-0 {
  from {
    background-color: red;
  }
  to {
    background-color: white
  }
}

@keyframes downtick-1 {
  from {
    background-color: red;
  }
  to {
    background-color: white
  }
}
